@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Reset style*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: inherit;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: top;
}

a,
a:visited {
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

ul[class],
ol[class] {
  padding: 0;
}

ul li {
  list-style: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
}

.main__body {
  background-color: #e8ebee;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.phone__container {
  margin: 0 auto;
  padding: 0;
  max-width: 440px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.btn-1 {
  display: inline-block;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  max-width: 320px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  color: #000000;
  background-color: #ffb800;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.btn-1:hover {
  opacity: 0.8;
}

.btn-2 {
  display: inline-block;
  padding: 16px 10px;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  max-width: 300px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  color: #000000;
  background-color: #f5ca16;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.btn-2:hover {
  opacity: 0.8;
}

.btn-3 {
  display: inline-block;
  padding: 20px 10px;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #FFAD0D;
  -webkit-box-shadow: 0px 4px 4px 0px #DF9400;
          box-shadow: 0px 4px 4px 0px #DF9400;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.btn-3:hover {
  opacity: 0.8;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.popup__content {
  width: 100%;
  max-width: 820px;
  padding: 50px;
  background-color: #FFFFFF;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.popup__close::before,
.popup__close::after {
  position: absolute;
  content: "";
  left: 15px;
  height: 15px;
  width: 2px;
  background-color: #000000;
}

.popup__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__title {
  padding-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.popup__text h4 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.popup__text p {
  margin-bottom: 14px;
}

.popup__text p:last-child {
  margin: 0;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.thank-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
}

.thank-you__window {
  margin: 0 auto;
  padding: 75px 16px;
  max-width: 340px;
  border-radius: 10px;
  background: linear-gradient(123deg, #FFEFBA 0%, #FFF2C7 100%);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(173, 173, 173, 0.7);
          box-shadow: 1px 1px 5px 0px rgba(173, 173, 173, 0.7);
}

.thank-you__window h3 {
  font-size: 18px;
  font-weight: 400;
}

.thank-you__window h1 {
  margin: 30px 0px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.thank-you__window p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.thank-you__window a {
  display: inline-block;
  padding: 14px 4px;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 260px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  color: #000000;
  background-color: #f2681b;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.thank-you__window a:hover {
  opacity: 0.8;
}

.footer {
  padding: 30px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #FFFFFF;
  background-color: #252525;
}

.footer__link {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  color: inherit;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.footer__link:hover {
  color: #b4b4b4;
}

.indents {
  padding: 30px 0;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.header-one {
  padding: 0px 0px 40px 0px;
}

.header-one__inner {
  background-color: #f5ca16;
}

.header-one__title {
  padding: 26px 0px;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.header-one__title span {
  color: #1629d3;
}

.header-one__subtitle {
  margin: 10px 0px;
  text-align: center;
  color: #000000;
}

.header-one__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.header-one__content {
  width: 100%;
}

.header-one__feature {
  margin: 6px 0px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.header-one__feature span {
  color: #ff2500;
}

.header-one__button-wrapper {
  margin-top: 26px;
  text-align: center;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__price--old,
.promo__price--new {
  padding: 12px 8px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.promo__price--old {
  max-width: 160px;
  color: #000000;
  background-color: #ffffff;
}

.promo__price--new {
  border-radius: 6px;
  color: #ffffff;
  background-color: #ff0000;
}

.promo__price--old i,
.promo__price--new i {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

.promo__price--old i {
  position: relative;
}

.promo__price--old i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000000;
}

.video-product {
  padding-bottom: 40px;
}

.video-product__video {
  width: 100%;
  vertical-align: top;
}

.specifications__title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.specifications__image {
  text-align: center;
}

.specifications__content {
  padding: 12px;
  background-color: #f5ca16;
}

.specifications li {
  margin-left: 20px !important;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  list-style: disc;
}

.specifications__text {
  margin-top: 12px;
  font-size: 16px;
  color: #000000;
}

.meta__title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.meta__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 11px;
}

.meta__item {
  width: 100%;
}

.meta__item img {
  width: 100%;
  height: 177px;
  -o-object-fit: cover;
     object-fit: cover;
}

.meta__item-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f5ca16;
}

.meta__text {
  margin-top: 4px;
  font-size: 14px;
}

.meta__button-wrapper {
  margin-top: 24px;
  text-align: center;
}

.feedback__title {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.feedback__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.feedback__user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feedback__user-name {
  font-size: 16px;
  color: #000000;
}

.feedback__date {
  font-size: 16px;
  color: #727272;
}

.feedback__rating {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.feedback__rating span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.feedback__text {
  font-size: 16px;
  color: #000000;
}

.feedback__user-photo {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.feedback__user-photo img {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  -o-object-fit: cover;
     object-fit: cover;
}

.order__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.order__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.order__item {
  text-align: center;
}

.order__icon {
  width: 80px;
  height: 80px;
}

.order__item-title {
  margin: 14px 0px 4px 0px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.order__text {
  margin: 0 auto;
  font-size: 14px;
  max-width: 110px;
  color: #000000;
}

.section-form__title {
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
}

.section-form__subtitle {
  margin: 0 auto 30px auto;
  max-width: 460px;
  text-align: center;
}

.form__content {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
}

.form__select {
  display: block;
  margin-bottom: 12px;
  padding: 16px 22px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3764705882);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/icons/arrow-select.svg") 50% 50%/cover no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.form__select option {
  font-weight: 400;
}

.form__input {
  margin-bottom: 12px;
  padding: 16px 22px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3764705882);
}

.form__input:active {
  border: 1px solid #000000;
}

.form__input:focus {
  border: 1px solid #000000;
}

.form__button {
  margin-top: 6px;
  text-align: center;
}

.form__submit {
  display: inline-block;
  padding: 16px 20px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  color: #000000;
  background-color: #ffb800;
  border: 0.5px solid #000;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.form__submit:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .popup__content {
    padding: 50px 15px;
  }
}